<ion-view hide-nav-bar="true" class="bg">

 <ion-header-bar class="bar no_background no_border" >
      <button onclick="javascript:history.go(-1)" class="button button-clear text_white icon  ion-android-arrow-back"></button>
     
 </ion-header-bar>
   
<ion-content class="has-footer has-header" scroll="false" > 
      <div class="martop70 " ui-sref="selectlaunguage" >
        <h2 class=" text_white text_center " >Your Country</h2>
        <p class=" text_white text_center martop-13 ">Country Where you are</p>
        </div>

        <div class="card no_background martop50">
        
          <div>

            <label class="item item-input item-select no_background" >
                <div class="input-label no_background text_white">
                  United States
                </div>
                <select class="dropdown100 no_background" >
                  <option></option>
                  <option >United States</option>
                  <option >United States</option>
                  <option >United States</option>
                  
                </select>
              </label>


          </div>

        </div>
     
</ion-content>

</ion-view>
<div class="bar bar-footer ">
  <button class="button button-block martop0" ui-sref="password" >
       NEXT
        <i class="icon ion-android-arrow-forward float_right"></i>
      </button>
</div>
<!-- <div class="bar bar-footer no_background">
 <button class="button button-full button-light martop30" ui-sref="password">
       Login
        <i class="icon ion-android-arrow-forward float_right"></i>
      </button>
</div> -->