<ion-view hide-nav-bar="true" class="bg">
  <ion-header-bar class="bar no_background no_border" >
    <button onclick="javascript:history.go(-1)" class="button button-clear text_white icon  ion-ios-arrow-thin-left"></button>
  </ion-header-bar>
  <ion-content class="has-footer has-header" scroll="true" >
    <div>
      <h2 class=" text_white text_center ">Finish</h2>
      <p class="text_center text_white fs-14 ">You are one tab away to enter on lunona</p>
      
      <div class="card no_background ">
        <div class="marbottom-10">      
            <div class="col no_padding text_center">
              <button class="button button-email fs-14 button-light text_center">
                Email
              </button>
            </div>           
            <a class="item text_center no_background item-icon-right text_white f-bold fullcircle" href="#">
               <img  class="float_left" src="img/finish_03.png" width="12%">&nbsp;
              <!-- andrefilipps@gmail.com -->{{loginemail}}
              <i class="icon ion-edit text_black" ui-sref="register"></i>
            </a>
        </div>

        <div class="marbottom-10">      
            <div class="col no_padding text_center">
              <button class="button button-email fs-14 button-light text_center">
                I am
              </button>
            </div>           
            <a class="item text_center no_background item-icon-right text_white f-bold fullcircle" href="#">
              <img class="float_left" src="img/finish_07.png" width="15%">&nbsp;
              <span ng-if="gender=='1'">Man and i'm looking for a woman</span>
              <span ng-if="gender=='2'">Woman and i'm looking for a man</span>
              
              <i class="icon ion-edit text_black" ui-sref="gender"></i>
            </a>
        </div>

        <div class="marbottom-10">
      
            <div class="col no_padding text_center">
              <button class="button button-email fs-14 button-light text_center">
              Nickname</button>
            </div>           
            <a class="item text_center no_background item-icon-right text_white f-bold fullcircle" href="#">
              <img class="float_left" src="img/finish_10.png" width="10%">&nbsp;
              {{nickname}}
              <i class="icon ion-edit text_black" ui-sref="displayname"></i>
            </a>
        </div>

        <div class="marbottom-10">      
            <div class="col no_padding text_center"><button class="button button-email fs-14 button-light text_center">
              I live in
              </button>
            </div>
           
            <a class="item text_center no_background item-icon-right text_white f-bold fullcircle" href="#">
              <img class="float_left" src="img/EN.png" width="12%">&nbsp;
               {{countryname}}
              <i class="icon ion-edit text_black" ui-sref="country"></i>
            </a>
        </div>

        <div>      
            <div class="col no_padding text_center">
              <button class="button button-email fs-14 button-light text_center">
              I was born
              </button>
            </div>           
            <a class="item text_center no_background item-icon-right text_white f-bold fullcircle" href="#">
              <img class="float_left"  src="img/finish_14.png" width="12%">&nbsp;
                 {{day}}/{{month}}/{{year}}
              <i class="icon ion-edit text_black" ui-sref="birthdate"></i>
            </a>
        </div>


    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
  </ion-content>
  <div class="bar bar-footer no_padding bgtransparent footer-height" ng-click="Register();">
    <img src="img/doneimg.png" width="100%"  >
  </div>
</ion-view>