<ion-view hide-nav-bar="true" class="bg">
  <ion-header-bar class="bar no_background no_border" >
    <button onclick="javascript:history.go(-1)" class="button button-clear text_white icon  ion-ios-arrow-thin-left"></button>
  </ion-header-bar>
  <ion-content class="has-footer has-header" scroll="false" >
    <div class="martop70 " >
      <h2 class=" text_white text_center best-world">Your Gender</h2>
      <p class="text_center text_white fs-14 best-world">What Your are Looking For</p>
      
      <div class="card no_background martop50">
         
     <div class="row boxmargin">
            <div class="col"><img src="img/gender_03.png" width="100%"></div>
            <div class="col text_center text_white fs-14">I AM</div>
            <div class="col"><img src="img/gender_05.png" width="100%"></div>
            
          </div>


      <div  class=" text_center" ui-sref="register">
        <img src="img/gender_10.png" width="100%">
      </div>
      <div class="row"></div>
      <div  class=" text_center" ui-sref="register">
        <img src="img/gender_14.png" width="100%">
      </div>
    </div>
    </div>
  </ion-content>
  <div class="bar bar-footer ">
    <button class="button button-block martop0 best-world" ui-sref="displayname"   ><!-- ng-click="doLogin();" -->
    NEXT
    <i class="icon ion-android-arrow-forward float_right"></i>
    </button>
  </div>
</ion-view>